<h1> Hi </h1>
<h2>The basis points provided is <%= @user_basis_points %>.</h2>
<h2>The number of years provided is <%= @user_number_of_years %>.</h2>
<h2>The number of years provided is <%= @user_present_value %>.</h2>
<h2>The payment should be <%= @result %> </h2>
