<h1> Random Calculation </h1>

<form action="http://localhost:3000/random/results">
  <div>
    <label for="min">
      Minimum
    </label>
    <input type="text" name="min" id="min">
  </div>
  <div>
    <label for="max">
      Maximum
    </label>
    <input type="text" name="max" id="max">
  </div>

  <button>Pick random number</button>

</form>
