<h1> Square Root Calculation </h1>

<form action="http://localhost:3000/square_root/results">
  <div>
    <label for="num">
      Enter a number
    </label>
    <input type="text" name="number_to_be_square_rooted" id="num">
  </div>
  <button>Calculate square root</button>
</form>
